# 数据库配置
DATABASE_URL=postgresql://postgres:Bahema123.@localhost:5432/fufanmanus

# Redis 配置
REDIS_HOST=localhost  
REDIS_PORT=6379
REDIS_PASSWORD=snowball2019

# JWT配置
JWT_SECRET_KEY=your-secret-key-change-in-production-c4c4bd20f8b49644438febda668d8bf8
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=30


LOGGING_LEVEL=WARNING  # 日志级别改为 WARNING，只显示警告和错误信息。
ENV_MODE=local
OPENAI_API_KEY=sk-proj-e7zpkD2wu6nflfeQIka6M3h4DQ3PtJB-guhYiePD7uOfNPAqZrSKrxXObwbMA
MODEL_TO_USE=deepseek/deepseek-chat


DEEPSEEK_API_KEY=sk-20c288ea53ec46e389ed74a36fe85010
DEEPSEEK_API_BASE=https://api.deepseek.com


# Langfuse 配置
LANGFUSE_PUBLIC_KEY=pk-lf-cdd15055-53658ef94f90
LANGFUSE_SECRET_KEY=sk-lf-e87f42-bb26-adbc15656e39
LANGFUSE_HOST=https://us.cloud.langfuse.com


# PPIP/E2B 沙箱服务配置
E2B_API_KEY=sk_sxG_0SU9LHx0QJz0tXr5DVTc
SANDBOX_TEMPLATE_ID=txi15v1zt1gcyqb


TAVILY_API_KEY=tvly-dev-BUeZtwsidhcyVvvqUhN3
FIRECRAWL_API_KEY=fc-065004582be54c517b33


# SANDBOX_TEMPLATES = {
#     'code': 'br263f8as1ze',      # code-interpreter-v1
#     'desktop': 'txi15v12i1gcyqb',   # desktop：4imxoe43snzcxj95hvha
#     'browser': '7xvs3snq3y8u96',   # browser-chromium
#     'base': 'txi15v1zt0qcyqb'      # base
# }